<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro Usuario</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

</head>
<body>

	<div class="page-header">
		<h1>
			Cadastro de Usuario 
		</h1>
	</div>
	
	<form class="form-horizontal" method="POST" action="inserirUsuarioJornalista" enctype="multipart/form-data" th:object="${usuario}">
		
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		  <div th:each="detailedError : ${#fields.detailedErrors()}">
		  	<span th:text="${detailedError.message}"> </span>
		  </div>
		</div>
		
		
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		  <span> Usuário salvo com sucesso</span>
		</div>
		
		
		<div class="form-group">
			<label for="nome" class="col-sm-2 control-label">Nome</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="nome" th:field="*{nome}"/>

			</div>
		</div>
		<div class="form-group">
			<label for="login" class="col-sm-2 control-label">Login</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="login" name="login"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="senha" class="col-sm-2 control-label">Senha</label>
			<div class="col-sm-4">
				<input type="password" class="form-control"  id="senha" name="senha"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">E-mail</label>
			<div class="col-sm-4">
				<input type = "text" class="form-control"  id="email" name="email"/>
			</div>
		</div>	
	
		
		<div class="form-group">
			<label for="imagem" class="col-sm-2 control-label">Selecione a imagem do perfil</label>
			<div class="col-sm-4">
				<input type = "file" class="form-control"  id="imagem" name="imagem"/>
			</div>
		</div>	
		

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Enviar</button>
			</div>
		</div>
	</form>

	<script src="/js/bootstrap.min.js">
		
	</script>
</body>
</html>