<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

</head>
<body>
	<div class="page-header">
		<h1>Jornal The Garotinho Times</h1>
	</div>

	<ul class="nav nav-pills"> <!-- NAVBAR -->
		<li role="presentation"><a href="inserirNoticiaFormulario">Cadastrar Noticia</a></li>
		<li role="presentation"><a href="verSecoes">Ver Seções</a></li>
		<li role="presentation"><a href="verClassificados">Ver Classificados</a></li>
		<li role="presentation"><a href="logout">Sair</a></li>
		
	</ul>
	
	
	Bem vindo Jornalista!
</body>
</html>